{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <hr>
    <h6>Ajout d'un nouvel produit</h6>
    <hr>
    {{form_start(formProduit)}}
      <div class="form-group">
        <fieldset>
          {{form_row(formProduit.libelle,{ 'attr': {'placeholder':'inserer le nom du Produit','class':'form-control'} })}}
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          {{form_row(formProduit.qte,{ 'attr': {'placeholder':'inserer la quantité du Produit','class':'form-control'} })}}
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          {{form_row(formProduit.pu,{ 'attr': {'placeholder':'inserer le prix unitaire du Produit','class':'form-control'} })}}
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          {{form_row(formProduit.categorie,{ 'attr': {'class':'form-control'} })}}
        </fieldset>
      </div>
      <button type="submit" class="btn btn-info">
        {% if editMode %}
          Enregistrer
        {% else %}
          Ajouter
        {% endif %}
      </button>
    {{form_end(formProduit)}}
{% endblock %}
