{% extends 'base.html.twig' %}
{% block body %}
    <hr>
    <p><u>Nom Client</u> : <strong>{{commande.client.nom}}</strong> </p>
    <p><u>Date de commande</u> : <strong>{{commande.dateCom | date('d/M/Y')}}</strong></p>
    <hr>
    <a href="{{ path('addProduit',{'id':commande.id}) }}" class="btn btn-info">Ajouter un produit</a>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">NOM PRODUITS</th>
            <th scope="col">PRIX UNITAIRE</th>
            <th scope="col">QUANTITE</th>
            <th scope="col">MONTANT</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for ligneCommande in ligneCommandes %}
                <tr>
                    <td>{{ligneCommande.produit.libelle}}</td>
                    <td>{{ligneCommande.produit.pu}}</td>
                    <td>{{ligneCommande.produit.qte}}</td>
                    <td>{{(ligneCommande.produit.qte)*(ligneCommande.produit.pu)}} Ar</td>
                    <td>
                         <a href="produits/2" class="btn btn-primary">Info</a>
                         <a href="commandes/2/produit/edit" class="btn btn-info">Edit</a>
                         <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}